<h1>ネコの素晴らしさを世界に主張する</h1>
<p>さあ、ネコ様の素晴らしさを仲間たちと共有しようではないか！</p>

<%= form_for @tweets do |f| %>
  <p>
    <%= f.label :body, "シモベの主張 ⇒ " %>
    <%= f.text_field :body %>
  </p>
  <%= f.submit %>
<% end %>

