<h1>マイページ</h1>
<p>ネコのシモベ情報</p>

<hr size="5">
<p><span>email: </span><%= @users.email %></p>

<% @tweets.each do |tweet| %>
    <hr size="2">
    <p><span></span><%=link_to tweet.body, tweet_path(tweet.id) %></p>
<% end %>